In [5]:
import pandas as pd

In [23]:
df = pd.read_csv('data/2025년_1월_시군구별_1인당_월지급액_평균.csv')
df

    Unnamed: 0  Unnamed: 1  메트릭   지급공통_월평균지급액2
0    법정동시도(계x)  법정동시군_일부통합  NaN            NaN
1        서울특별시         종로구  NaN  660830.315166
2        서울특별시          중구  NaN  618138.553297
3        서울특별시         용산구  NaN  725802.639174
4        서울특별시         성동구  NaN  659793.070505
..         ...         ...  ...            ...
225       경상남도         함양군  NaN  513637.929003
226       경상남도         거창군  NaN  507581.499119
227       경상남도         합천군  NaN  516564.050011
228    제주특별자치도         제주시  NaN  574300.909623
229    제주특별자치도        서귀포시  NaN  548145.728202

[230 rows x 4 columns]

In [25]:
# 파일 경로 지정
file_path = 'data/2025년_1월_시군구별_1인당_월지급액_평균.csv'

# CSV 파일 로드 (header=[0,1]으로 다중 컬럼 처리)
df1 = pd.read_csv(file_path, encoding='utf-8', header=[0,1])

# 다중 컬럼을 단일 컬럼으로 합치기 (ex: '연금수급자(B) (명)_계')
df1.columns = ['_'.join([str(i) for i in col if i != '']).strip() for col in df1.columns]

# 결과 출력 (데이터프레임의 첫 5행)
print(df1.head())

  Unnamed: 0_법정동시도(계x) Unnamed: 1_법정동시군_일부통합  메트릭_Unnamed: 2_level_1  \
0                서울특별시                   종로구                     NaN
1                서울특별시                    중구                     NaN
2                서울특별시                   용산구                     NaN
3                서울특별시                   성동구                     NaN
4                서울특별시                   광진구                     NaN

   지급공통_월평균지급액2_Unnamed: 3_level_1
0                    660830.315166
1                    618138.553297
2                    725802.639174
3                    659793.070505
4                    640021.126626

In [27]:
# 현재 컬럼명 확인
print("현재 컬럼명 리스트:")
print(df1.columns.tolist())

현재 컬럼명 리스트:
['Unnamed: 0_법정동시도(계x)', 'Unnamed: 1_법정동시군_일부통합', '메트릭_Unnamed: 2_level_1', '지급공통_월평균지급액2_Unnamed: 3_level_1']

In [29]:
# 컬럼명 변경: 원하는 이름으로 딕셔너리 생성
new_column_names = {
    # "기존 컬럼명": "새로운 컬럼명"
    'Unnamed: 0_법정동시도(계x)': '시/도',
    'Unnamed: 1_법정동시군_일부통합': '시/군/구',
    '메트릭_Unnamed: 2_level_1': '삭제필요',
    '지급공통_월평균지급액2_Unnamed: 3_level_1': '월평균지급액'
}

# 컬럼명 변경 적용
df1.rename(columns=new_column_names, inplace=True)

# 결과 확인
print("변경된 컬럼명 리스트:")
print(df1.columns.tolist())

변경된 컬럼명 리스트:
['시/도', '시/군/구', '삭제필요', '월평균지급액']

In [41]:
df1

         시/도 시/군/구         월평균지급액
0      서울특별시   종로구  660830.315166
1      서울특별시    중구  618138.553297
2      서울특별시   용산구  725802.639174
3      서울특별시   성동구  659793.070505
4      서울특별시   광진구  640021.126626
..       ...   ...            ...
224     경상남도   함양군  513637.929003
225     경상남도   거창군  507581.499119
226     경상남도   합천군  516564.050011
227  제주특별자치도   제주시  574300.909623
228  제주특별자치도  서귀포시  548145.728202

[229 rows x 3 columns]

In [47]:
# 시/도별로 그룹화하고 월평균지급액 평균 계산
grouped_df = df1.groupby('시/도')['월평균지급액'].mean().reset_index()

# 결과 확인
grouped_df

        시/도         월평균지급액
0       강원도  558171.197791
1       경기도  633673.992412
2      경상남도  567983.171863
3      경상북도  547718.477520
4     광주광역시  583862.584787
5     대구광역시  561043.365704
6     대전광역시  609903.402934
7     부산광역시  592270.124516
8     서울특별시  653028.502718
9   세종특별자치시  663114.807438
10    울산광역시  829344.456414
11    인천광역시  618366.951495
12     전라남도  506586.375537
13     전라북도  502426.170386
14  제주특별자치도  561223.318913
15     충청남도  538765.256257
16     충청북도  561391.070707

In [53]:
# 파일 저장 경로 (예: '/mnt/data/전처리된_연금데이터.csv')
output_file_path = 'data/국민연금 평균 수령액_전처리.csv'

# 전처리된 데이터프레임(df_multi_header)을 CSV로 저장
grouped_df.to_csv(output_file_path, index=False, encoding='utf-8-sig')

print(f"전처리된 데이터가 {output_file_path}에 저장되었습니다!")

전처리된 데이터가 data/국민연금 평균 수령액_전처리.csv에 저장되었습니다!