In [1]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [3]:
elderly_rate = pd.read_csv('data/한국 고령층 빈곤율_전처리.csv', encoding='EUC_KR')
elderly_rate

,빈곤율,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Korea,47.80%,47.00%,47.70%,46.00%,44.30%,45.00%,44.00%,43.40%,43.20%,40.50%,39.30%,39.70%

In [8]:
elderly_long = elderly_rate.melt(id_vars='빈곤율', var_name='연도', value_name='빈곤율(%)')

elderly_long.rename(columns={
    '빈곤율': '국가'
}, inplace=True)

elderly_long

       국가    연도  빈곤율(%)
0   Korea  2011  47.80%
1   Korea  2012  47.00%
2   Korea  2013  47.70%
3   Korea  2014  46.00%
4   Korea  2015  44.30%
5   Korea  2016  45.00%
6   Korea  2017  44.00%
7   Korea  2018  43.40%
8   Korea  2019  43.20%
9   Korea  2020  40.50%
10  Korea  2021  39.30%
11  Korea  2022  39.70%

In [9]:
elderly_long.to_csv('한국_노년층_빈곤율.csv', encoding='utf-8-sig', index=False)